In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import glob
import os

In [2]:
path = r'/Users/mahnooshsadeghi/Desktop/PTSD/PTSD Data/Kalman Imputed Data' # use your path
all_files = glob.glob(path + "/*.csv")

In [15]:
li=[]
participant =6

In [16]:
os.getcwd()

'/Users/mahnooshsadeghi/Documents/GitHub/PTSD-Data-Analysis-Research'

In [17]:
frame=pd.read_csv('/Users/mahnooshsadeghi/Desktop/PTSD/PTSD Data/Kalman Imputed Data/Participant.6.csv')

In [18]:
df = frame
    #df['participant']=participant
df['windowno']= -1
j=0
k=1
while j<len(df.index)-1000:
    df['windowno'][j:j+599]=k
    j=j+599
    k=k+1

//miniconda3/envs/PTSD/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [19]:
df1=df.dropna(axis=0, subset=['hr'])
df1 = df1.reset_index(drop=True)

count =  df1.groupby('windowno', as_index=False)['hr'].size()

In [20]:
#for i in df.windowno:
#    if count[i]>200:
 #       df=df[df.windowno != i ]
df.loc[df.ptsd_moment != 'STRESSMOMENT', 'ptsd_moment'] = 0
df.loc[df.ptsd_moment == 'STRESSMOMENT', 'ptsd_moment'] = 1
df['participant']=6
df.to_csv ('Windowed Participant nonstress moments' + str(6) + '.csv', index = None, header=True)#Don't forget to add '.csv' at the end of the path
#participant=participant+1

In [51]:
df[599:1198]

,Unnamed: 0,date,time,acc_x,acc_y,acc_z,linear_accel_x,linear_accel_y,linear_accel_z,hr,ptsd_moment,windowno
599,600,2017-10-14,16:18:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
600,601,2017-10-14,16:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
601,602,2017-10-14,16:19:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
602,603,2017-10-14,16:19:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
603,604,2017-10-14,16:19:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1193,1194,2017-10-14,16:28:53,1.707066,9.409213,3.787627,4.400291,1.443542,1.753990,94.000000,NaN,2
1194,1195,2017-10-14,16:28:54,2.135628,9.126696,1.584961,4.772293,1.858276,1.843758,94.000000,NaN,2
1195,1196,2017-10-14,16:28:55,3.801992,9.375694,1.572990,3.806679,3.269028,1.338142,93.983403,NaN,2
1196,1197,2017-10-14,16:28:56,5.985504,8.236053,1.642422,3.170982,5.513802,1.544357,94.000000,NaN,2
1197,1198,2017-10-14,16:28:57,7.453150,5.453991,0.794875,2.758934,5.333458,1.213280,94.000000,NaN,2

In [21]:
count.sort_values()

windowno
538       1
563       1
562       1
556       1
1006      1
       ...
250     325
906     351
203     352
630     385
214     467
Length: 871, dtype: int64